<app-bar></app-bar>

<div clasS="iUno">
  <div class="ilogo">
    <img src="/assets/inicio/log.png" class="imagen">
    <h2>Games online</h2>
  </div>


</div>


  <div class="ilogoTitle">
    <h2>Enjoy our online games completely free</h2>
  </div>






  <div class="moonshot base" routerLink="/game/Moonshot">
    <h2>Moonshot</h2>

  </div>


<div class="publicidad">


</div>

<div class="chess base" routerLink="/game/Chess">
  <h2>Chess</h2>

</div>

<script type="text/javascript" src="./assets/scripts/myscript.js"></script>




