<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" data-toggle="modal"><img src="/assets/inicio/flame-svg.png" height="70"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Pricing</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>-->
</nav>



<div id="mycookie" (click)="aceptCookie()" class=" alert negro-alert alert-warning alert-dismissible fade show" role="alert" data-dismiss="alert" aria-label="Close">

  <p><strong>Attention: </strong>This website uses its own and third-party cookies to offer a better service.<br /> If you continue browsing we consider that you accept its use and you affirm that you are over 18 years of age
  </p>


</div>
