.alerta-game{
  background-color:#465162;
  color:#FFFFFF;
  border:0px;
}


.enviarc{
  background-color:#FFFFFF;
  color:#465162;
  border:1px solid #465162;
  float:right;
  font: 17px "Lato", sans-serif;
  font-weight: bold;
}

.modal-content{
  background-color:#465162;
  color:#FFFFFF;
}
.modal-header, .modal-footer, .modal-body{border:0px;}
