.alerta-game{
  background-color:#465162;
  color:#FFFFFF;
  border:0px;
}
.alerta-gameDos{
  background-color:#465162;
  color:#FFFFFF;
  border:0px;
  padding:2px 0px 2px 20px;

}


.enviarC{
  background-color: #282E34;
  color:#dddddd;
  border:1px solid #dddddd;
  float:right;
  font: 20px "Lato", sans-serif;
}

.modal-content{
  background-color: #282E34;
  color:#dddddd;
}
.modal-header, .modal-footer, .modal-body{border:0px;}
